<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Informazioni</h2>
                    <h3 class="section-subheading text-muted">CE.S.I.02 S.R.L.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Societ&agrave; fondata nel 2002, amministratore unico Ing. Valentino Gentili.<br>L&apos;attivit&agrave; si &egrave; sviluppata con continuit&agrave; fino alla data odierna con settori prevalenti:</p>
                    <ul class="text-center"><li>opere stradali</li><li>ponti e sottopassi</li><li>opere a rete</li><li>impianti di depurazione</li><li>ripristini ambientali</li><li>spostamenti sottoservizi</li></ul>
                    <p class="text-center"><br>Sede legale: Padova<br>Sede operativa: Rovigo, Via G. Pascoli N. 6<br><a href="tel:042523853">Telefono</a><br><a href="mailto:info@cesi02.it">info@cesi02.it</a><br><a href="mailto:vagent@tin.it">vagent@tin.it</a></p>
                </div>
            </div>
        </div>
    </section>