<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Proudly hosted by
                    <a href="https://github.com/cesi02/cesi02.github.io" target="_blank">
                    <img src="/img/footer_logo.png" width="100" height="30" alt="GitHub • Social coding">
                    </a>
                </div>
                <div class="text-center">
                    <span class="copyright text-center"><a href="https://daniil.it">Made with &hearts; by Daniil Gentili for CE.S.I.02 S.R.L :)</a><br><a href="http://privacypolicies.com/privacy/view/bmZQhG">Privacy Policy</a></span>
                </div>
                <div class="col-md-4">
                    <a href="https://travis-ci.org/cesi02/cesi02.github.io" target="_blank"><img src="https://travis-ci.org/cesi02/cesi02.github.io.svg?branch=source" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

