<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright text-center">Via Pascoli Rovigo n. 6</span>
                </div>
                <div class="col-md-4">
                    <a href="https://travis-ci.org/cesi02/cesi02.github.io"><img src="https://travis-ci.org/cesi02/cesi02.github.io.svg?branch=source" alt="" class="img-centered"></a>
                </div>
                <div class="text-center">
                    <span class="copyright text-center"><a href="https://daniil.it">Made with &hearts; by Daniil Gentili for CE.S.I.02 S.R.L :)</a></span>
                </div>
            </div>
        </div>
    </footer>
