<footer>
        <div class="container">
            <div class="row"><!--
                <div class="col-md-4">
                    <span class="copyright">Via Pascoli Rovigo n. 6</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>-->
                <div class="text-center">
                    <span class="copyright text-center"><a href="https://daniil.it">Made with &hearts; by Daniil Gentili for CE.S.I.02 S.R.L :)</a></span>
                </div>
            </div>
        </div>
    </footer>