<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servizi</h2>
                    <h3 class="section-subheading text-muted">Servizi di progettazione, direzione lavori, assistenza di cantiere e sicurezza dei lavori.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i><img class="img-responsive" alt="" src="/img/compass.png"></i>
                    </span>
                    <h4 class="service-heading">Servizi di progettazione</h4>
                    <ul class="text-muted text-left"><li>Edilizia pubblica: scuole ed asili, edifici sportivi, recupero di strutture statiche</li><li>Opere di presidio con ingegneria ambientale per interventi territoriali</li><li>Opere a rete: reti tecnologiche e infrastrutture per approvvigionamento e trasporto di gas, acquedotti e fognature</li><li>Centrali di potabilizzazione e depurazione acque</li><li>Strade</li><li>Strutture ed impiantistica: ponti, sottopassi stradali e ferroviari</li><li>Opere portuali</li><li>Restauro strutturale</li><li>Sicurezza e prevenzione incendi</li><li>Urbanistica: piani di insediamenti produttivi e di lottizzazioni</li></ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i><img class="img-responsive" alt="" src="/img/casco.png"></i>
                    </span>
                    <h4 class="service-heading">Direzione lavori, assistenza di cantiere e spostamento sottoservizi</h4>
                    <ul class="text-muted text-left"><li>Direzione lavori cantieri edili</li><li>D.L. opere stradali</li><li>D.L. acquedotti e fognature</li><li>D.L. ripristini ambientali</li><li>D.L. impianti di potabilizzazione e depurazione</li><li>Direzione Operativa dei cantieri</li><li>Direzione Operativa per spostamento sottoservizi</li><li>Contabilit&agrave; e misura</li><li>Assistenza giornaliera di cantiere</li></ul>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i><img class="img-responsive" alt="" src="/img/sicurezza_lavoro.jpg"></i>
                    </span>
                    <h4 class="service-heading">Sicurezza dei lavori C.S.P. e C.S.E.</h4>
                    <ul class="text-muted text-left"><li>Piani di sicurezza e coordinamento</li><li>Piani specialistici per la sicurezza</li><li>Coordinamento esecutivo per la sicurezza</li><li>Assistenza di cantiere per la sicurezza</li></ul>
                </div>
            </div>
        </div>
    </section>